*.PcbDoc filter=lfs diff=lfs merge=lfs -text lockable
*.SchDoc filter=lfs diff=lfs merge=lfs -text lockable
*.PrjPcb filter=lfs diff=lfs merge=lfs -text lockable
*.PrjPcbStructure filter=lfs diff=lfs merge=lfs -text lockable
*.MbaDoc filter=lfs diff=lfs merge=lfs -text lockable
*.MbsDoc filter=lfs diff=lfs merge=lfs -text lockable
*.PcbLib filter=lfs diff=lfs merge=lfs -text lockable
*.SchLib filter=lfs diff=lfs merge=lfs -text lockable
*.IntLib filter=lfs diff=lfs merge=lfs -text lockable
